<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <uses-library android:name="android.test.runner" />
        <provider android:name="com.lowbyyj.textwasher.FixtureProvider"
            android:authorities="com.lowbyyj.textwasher.test.files" android:exported="true" />
    </application>
</manifest>
